<!DOCTYPE html>
<html ng-app="vk">
<head>
    <title>Example App - Help</title>
  #parse("header-scripts.vm")
</head>
<body dir="rtl" lang="he">
<div class="container-fluid">
    #parse("admin/search-box.vm")
</div>
</body>
</html>
